
KR1PER/.vs/KR1PER/v16/Server/sqlite3/db.lock
KR1PER/.vs/KR1PER/v16/Server/sqlite3/storage.ide
KR1PER/.vs/KR1PER/v16/Server/sqlite3/storage.ide-shm
KR1PER/.vs/KR1PER/v16/Server/sqlite3/storage.ide-wal
